# Devenv
.devenv*
devenv.local.nix
.mcp.json

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust builds
/target

tmp/

# Mutants runs
mutants.*


# Added by cargo
#
# already existing elements were commented out

#/target
